body{
    background: antiquewhite;
}

#tbl{
    visibility: hidden
}
.imgs{
    width: 150px;
    height: 120px;
    border: black;
    border-style: solid;
   // visibility: hidden;
}
#div1{
    width: 200px;
    height: 120px;
    border: 9px #a2577f ridge;
    position: absolute;
    left: 550px;
    top: 25px;
}
#div2{
    visibility: hidden
}
#div3{
    position: absolute;
    left: 500px;
    top: 100px
}
#div4{
    position: absolute;
    left: 650px;
    width: 300px;
    border-style: ridge;
    border-width: 5px;
    visibility: hidden
}
#restart{
    visibility: hidden
}

#p1{
    text-align: center;
    font-size: medium;
    font-weight: bolder
    }
#p2{
    text-align: center;
    font-size: medium;
    font-style: italic
}
.btn{
    background: #3498db;
    border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}